body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header p {
  color: gray;
  margin-top: 5px;
}

h1 {
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  padding: 10px 16px;
  margin-top: 12px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: black;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.transaction-card {
  background: #fafafa;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.income {
  border-left: 6px solid green;
}

.expense {
  border-left: 6px solid red;
}

.summary {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dark {
  background: #1e1e1e;
  color: white;
}

.dark input,
.dark select {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark .summary {
  background: #2b2b2b;
}

.dark .transaction-card {
  background: #2a2a2a;
}

.dark button {
  background: white;
  color: black;
}

.badge {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.transaction-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {

  .container {
    margin: 10px;
    padding: 15px;
  }

  button {
    width: 100%;
  }
}